/* @import url('//fonts.cdnfonts.com/css/heart-breaking-bad'); */
@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

* {
    margin: 0;
    padding: 0;
    justify-content: center;    
}

body {
    font-family: 'Game of Thrones';
    height: 100%;
    width: 100%;
    background: url(https://cdn.wallpapersafari.com/25/77/alEFWZ.jpg);
    background-size: cover;                                       
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 3rem auto 2rem;
}

.home div {
    display: flex;
    justify-content: center;
}

.contenedor-loader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 13rem auto 0;
    width: 60px;
    max-height: 30px;
}

.contenedor-loader div {
    width: 15px;
    height: 15px;
    border: #fff solid 1px;
    border-radius: 50%;
    background: #b6c9c5
    ;
    animation: loader 0.7s cubic-bezier(0.10, 0.05, 0.22, 0.9) alternate infinite;
}

.contenedor-loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.contenedor-loader div:nth-child(3) {
    animation-delay: 0.4s;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    margin: 20rem auto 1rem;
}

#boton-start {
    margin: 15rem auto 0;
}

#boton-start,
#boton-back {  
    background: linear-gradient(#46a08c, #0a1111);
    color: #fff;
    width: 120px;
    height: 40px;
    text-decoration: none;
    border: 3px inset #fff;
    font-family: inherit;
    border-radius: 5px;
    font-size: 12px;
}

#boton-start:hover,
#boton-back:hover {
    text-decoration: none;
    cursor: pointer;     
}

.hidden {
    display: none;
}

#contenedor-personajes {
    display: flex;
    flex-wrap: wrap;
}

.cardConteiner {
    display: flex;
    flex-direction: column-reverse;
    padding: 0; 
    border-radius: 2%;
    box-shadow: 0 1px 6px 1px rgb(3, 44, 3);
    background-image: linear-gradient(rgb( 1, 24, 1), #0a1111);
}

.card {
    background-color: #46a08c;
    border-radius: 3%;
    background-image: linear-gradient(#0a1111, #46a08c,#0a1111);
    padding-bottom: 10px;
}

#contenedor-personajes div {
    margin:  .5rem .5rem .5rem;
}

#contenedor-personajes .personaje {
    display: inline-block;
    margin: auto;
    width: 215px;
    height: 150px;    
}

.contenedor-img {
    overflow: hidden;
    width: 200px;
    height: 180%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 0 6px 6px #0a1111;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(0,0,0,0.9);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;                                            
    margin: 15px 0 5px;
    font-size: 18px;
    text-align: center;
    color: #46a08c;
}

#contenedor-personajes .personaje h4 {
    color: #b6c9c5;
    padding:1px 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
}

@keyframes loader {
    from{transform: translateY(0)}
    to{transform: translateY(-15px);}
}

@media (min-width: 768px) and (max-width: 1200px) {
    body {
        background-size: cover;
    }
    
    .contenedor-boton {
        margin-top: 12rem;
    }
    
}

@media screen and (max-width: 767px){
    body{
        background-image: url(https://e0.pxfuel.com/wallpapers/592/677/desktop-wallpaper-daenerys-on-iron-throne-daenerys-dragon.jpg);
        background-size: cover;
    }

    .contenedor-boton {
        margin-top: 8rem;
    }
}
